<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Duyurular</h3>
        <p class="heading-btm-w3ls">Çiftliklerimiz Ve Tarlalarımızdan Son Haberler Aşağıdadır.</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">Ağrı Patatesi Festivali</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Tarım Teknoloji</a><span>16/01/2023</span>
                    <p class="para-w3-agileits">Elazığ'da 2022 yılında "Ağrı Patatesi Festivali" düzenlendi...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazla Oku</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">Tarım ve Orman Bakanı Bekir Pakdemirli</a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">Tarım Gelişim</a><span>12/01/2023</span>
                    <p class="para-w3-agileits">2023 yılında 10 milyon fidanın daha toprakla buluşacağını açıkladı...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Daha Fazla Oku</a>
            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#myModal4">
                        Türkiye ve Organik Tarım
                    </a>
                </h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Tarım Ve Biz</a><span>06/02/2023</span>
                    <p class="para-w3-agileits">Türkiye'de organik tarım, son yıllarda önemli bir yükseliş yaşadı. 2022 yılında, organik tarım yapılan alanlar %14 artarak, 2,8 milyon hektara ulaştı...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Daha Fazla Oku</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
                <h5>Ağrı Patatesi Festivali</h5>
                <p>Elazığ'da 2022 yılında "Ağrı Patatesi Festivali" düzenlendi. Festivalde, bölgedeki patates üreticileri, ürünlerini sergilediler ve ziyaretçilere tadım imkanı sundular. Ayrıca festivalde, patates üretimiyle ilgili bilgilendirme toplantıları da yapıldı.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
                <h5>Tarım ve Orman Bakanı Bekir Pakdemirli</h5>
                <p>2023 yılında 10 milyon fidanın daha toprakla buluşacağını açıkladı. Bu fidanların bir kısmı ormanların yeniden ağaçlandırılmasında kullanılacakken, bir kısmı da şehirlerde yeşil alanların artırılmasında kullanılacak.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
                <h5>Türkiye ve Organik Tarım</h5>
                <p>Türkiye'de organik tarım, son yıllarda önemli bir yükseliş yaşadı. 2022 yılında, organik tarım yapılan alanlar %14 artarak, 2,8 milyon hektara ulaştı. Bu artışla birlikte, organik tarım ürünleri ihracatında da önemli bir artış yaşandı. Türkiye, organik tarım ürünleri ihracatında dünya sıralamasında 5. sıraya yükseldi.</p>
            </div>
        </div>
    </div>
</div>